= form_for(@client) do |f|
  - if @client.errors.any?
    #error_explanation
      %h2
        = pluralize(@client.errors.count, "error")
        prohibited this client from being saved:
      %ul
        - @client.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :company
    %br/
    = f.text_field :company
  .field
    = f.label :owner
    %br/
    = f.text_field :owner
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :id_number
    %br/
    = f.number_field :id_number
  .actions
    = f.submit
