%p#notice= notice
%p
  %strong Company:
  = @client.company
%p
  %strong Owner:
  = @client.owner
%p
  %strong Name:
  = @client.name
%p
  %strong Id number:
  = @client.id_number
= link_to 'Edit', edit_client_path(@client)
|
\#{link_to 'Back', clients_path}
