.row
  .field
    .col-md-10
      = label_tag '100 X '
      = number_field_tag :hundred, '0', class: 'amount_by_banknot_class'
      = label_tag '50 X '
      = number_field_tag :fifty, '0', class: 'amount_by_banknot_class'
      = label_tag '20 X '
      = number_field_tag :twenty, '0', class: 'amount_by_banknot_class'
      = label_tag '10 X '
      = number_field_tag :ten, '0', class: 'amount_by_banknot_class'
      = label_tag '5 X '
      = number_field_tag :five, '0', class: 'amount_by_banknot_class'
      = label_tag '2 X '
      = number_field_tag :two, '0', class: 'amount_by_banknot_class'
    .col-md-2
      = label_tag 'Total: '
      %span#amount_by_banknot_id
        = 0
