.field
  .row
    .col-md-1
      - if @counter.nil?
        = @counter = 1
      - else
        = @counter

      = hidden_field_tag :counter, @counter
    .col-md-3
      = label_tag 'Company: '
      = select_tag "company_#{@counter}", options_for_select(client_companies, :company), include_blank: true, prompt: 'Select Company', class: 'chosen-select', id: 'select_company_id'
    .col-md-2
      = label_tag 'Price: '
      = text_field_tag "price_#{@counter}", '0.00', class: 'price_field_class', onchange: "validatePriceField();"
    .col-md-3
      = label_tag 'Additional_info: '
      = text_field_tag "additional_info_#{@counter}"

