%h1 New daily report

= form_tag('daily_reports/export_daily_report') do
  = hidden_field_tag :export_daily_report_hidden_field_id, '2'
  = label_tag 'Person: '
  = text_field_tag :person

  = render partial: 'daily_report'

  %div#daily_report_field_id
  %div#daily_report_cost_id
  .row
    .field
      .col-md-4
        %span.glyphicon.glyphicon-plus#add_daily_report_field_id
        %span.glyphicon.glyphicon-minus#add_daily_cost_field_id
      .col-md-4
        = label_tag 'Total: '
        %span#total_amount_id
          = 0.00
        = hidden_field_tag :hidden_field_total_amount_id, '0.00'
    
  .actions
    = hidden_field_tag :format, :xls
    = submit_tag 'Export', remote: true, id: 'submit_daily_report_id', data: { confirm: "Are you sure?" }
