%h1 Lists Dailt Reports

= form_tag export_daily_report_daily_reports_path(:format => 'xls')  do
  .table-responsive
    %table.table
      %thead
        %tr
          %th For Export
          %th Created At
          %th Doctor
          %th Amount
      %tbody
        - @daily_reports.each do |report|
          %tr
            %td= check_box_tag "export_reports[#{report.id}]"
            %td= report.created_at.to_s(:db)[0..10]
            %td= User.find(report.user.id).first_name
            %td= report.price
  .action
    = submit_tag 'Export'
